/****************
기본 값 설정 시작
 ****************/
/**
줄간격 설정
 */
.se-contents p,
.se-contents h1,
.se-contents h2,
.se-contents h3,
.se-contents h4,
.se-contents h5,
.se-contents h6,
.se-contents .se-para-div {
    line-height: 1.2;
}

.se-contents .se-para-div {
    margin-top: 16px;
    margin-bottom: 16px;
}

/**
폰트 사이즈 설정
 */
.se-contents p span,
.se-contents .se-para-div span,
.se-list-type {
    font-size: 11pt;
}

/**
폰트 설정
 */
.se-contents p span,
.se-contents h1 span,
.se-contents h2 span,
.se-contents h3 span,
.se-contents h4 span,
.se-contents h5 span,
.se-contents h6 span,
.se-contents .se-para-div span,
.se-list-type {
    font-family: dotum;
}
/****************
기본 값 설정 끝
 ****************/

.se-contents div.se-div p,
.se-contents table p {
    margin: 0px;
}

.se-contents p,
.se-contents h1,
.se-contents h2,
.se-contents h3,
.se-contents h4,
.se-contents h5,
.se-contents h6,
.se-contents .se-para-div {
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: none;
}

.se-non-breaking p,
.se-non-breaking h1,
.se-non-breaking h2,
.se-non-breaking h3,
.se-non-breaking h4,
.se-non-breaking h5,
.se-non-breaking h6,
.se-non-breaking .se-para-div {
    white-space: pre;
}

.se-contents ol, ul {
    cursor: text;
}

.se-contents li {
    list-style: none;
}

.se-contents hr {
    margin: 0;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    height: 10px;
}

.se-contents hr.se-page-break {
    opacity: 0;
}

.se-contents img {
    vertical-align: baseline;
}

.se-contents blockquote {
    padding-left: 5px;
    margin: 5px 0;
    border-left: 3px solid #ccc;
}

.se-contents li>blockquote {
    margin-left: 10px;
}

.se-contents table {
    border-collapse: collapse;
    word-break: break-all;
    white-space: normal;
    line-height: normal;
}

.se-contents th,
.se-contents td {
    padding: 5px;
    word-break: break-word;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
}

.se-contents th>ul,
.se-contents td>ul{
    margin: 0;
}

.se-contents th.se-top,
.se-contents td.se-top {
    vertical-align: top;
}

.se-contents th.se-bottom,
.se-contents td.se-bottom {
    vertical-align: bottom;
}

.se-contents th.se-center,
.se-contents td.se-center {
    vertical-align: middle;
}

.se-contents a {
    text-decoration: underline;
    color: #1d9ea0;
}

span.se-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "Emoji Symbols", "EmojiOne Mozilla" !important;
}

.se-list-type {
    float: left;
    pointer-events: none;
}

.se-drawing-object-wrapper {
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.se-drawing-object-wrapper .se-caption {
    padding-top: 5px;
    color: #767676;
}

.se-drawing-object-wrapper img,
.se-drawing-object-wrapper embed,
.se-drawing-object-wrapper iframe,
.se-drawing-object-wrapper video,
.se-drawing-object-wrapper .se-caption {
    display: block;
}

@media print {
    .se-contents hr.se-page-break {
        page-break-after: always;
        opacity: 0;
    }
}
/*# sourceMappingURL=synapeditor.css.map*/